extends layout

block content
    div.row
        div.col.s8
            -var n = 0
            while n < data.previews
                div.row
                    div#pageheadercol.col.s11.blue.white-text.valign-wrapper
                        h5
                            a.white-text.anchor(name='page' + (n + 1) )= 'Seite ' + (n + 1)
                    div#editcol.col.s1
                        include doc.editcol.pug
                div.row
                    div.col.s12
                        div.previewcontainer(style='min-height: 600px;')
                            img.preview(id='image_' + n, src='/doc/' + data._id + '/thumb/' + n, data-src='/doc/' + data._id + '/preview/' + n)
                -n++
        div.col.s4
            form(method='POST' action='/doc/' + data._id + '/update/true' autocomplete="off")
                input#hidden_tags(type='hidden' name='tags')
                div.form-group
                    label(for='subject') Betreff:
                    input#subject.form-control.autocomplete(type='text', placeholder='Betreff' name='subject' value=data.subject)
                div.form-group
                    label(for='docdate') Datum:
                    if(data.founddate)
                        input#docdate.form-control.datepicker.red-text(type='text', placeholder='Datum' name='docdate' value=(moment.utc(data.docdate).format("DD.MM.YYYY")))
                    else if (data.docdate)
                        input#docdate.form-control.datepicker(type='text', placeholder='Datum' name='docdate' value=(moment.utc(data.docdate).format("DD.MM.YYYY")))
                    else
                        input#docdate.form-control.datepicker(type='text', placeholder='Datum' name='docdate' value='')
                div.form-group
                    label(for='users') Besitzer:
                    br
                    each user in session.userlist
                        if(data.users.indexOf(user.name) > -1)
                            input.jqusers(type='checkbox' id='user_' + user.name name='users' value=user.name checked='checked')
                        else
                            input.jqusers(type='checkbox' id='user_' + user.name name='users' value=user.name)
                        label(for='user_' + user.name)= user.name
                        br
                        br
                div.form-group
                    -var partnerval = '';
                    if(data.partner)
                        -partnerval = data.partner
                    label(for='partner') Partner:
                    if(data.foundpartner)
                        input#partner.autocomplete.red-text(name='partner' value=partnerval)
                    else
                        input#partner.autocomplete(name='partner' value=partnerval)

                div.row &nbsp;
                div.row
                    div.col.s11
                        div#taginputparent.chips.chips-autocomplete
                    div.right-align.col.s1
                            i#tagstooltip.tooltipped.material-icons(style='cursor: help;', data-position='left', data-delay='50', data-tooltip='Lade...', data-html='true') help_outline
                div.row
                    div.col.s12.xl6.center
                        button.btn.blue.z-depth-5(type='submit' style='width:100%') Speichern
                            i.material-icons.left save
                    div.col.s12.xl6.center
                        a.waves-effect.waves-light.btn.modal-trigger.blue.z-depth-5(href='/doc/' + data._id + '/download/' style='width:100%') Download
                            i.material-icons.left file_download
                div.row
                    div.col.s12.xl6.center
                        a.waves-effect.waves-light.btn.modal-trigger.blue.z-depth-5(href='/doc/' style='width:100%') Zurück
                            i.material-icons.left arrow_back
                    div.col.s12.xl6.center
                        a.waves-effect.waves-light.btn.modal-trigger.red.z-depth-5(href="#modaldelete" style='width:100%') Löschen
                            i.material-icons.left delete_forever
                div.row
                    div.col.s12.xl6.center
                        a#ocr1.waves-effect.waves-light.btn.blue.z-depth-5(href='#!' style='width:100%') OCR
                            i.material-icons.left photo
                    div.col.s12.xl6.center
                        //a#ocrx.waves-effect.waves-light.btn.blue.z-depth-5(href='#!') OCR
                            i.material-icons.left photo_library
                div.row
                    div.col.s12.xl12.center
                        div.progress
                            div#ocr.determinate
            textarea.doctext= data.plaintext
    div#modaldelete.modal
        include doc.modaldelete.pug
    script(src='/javascripts/unveil.js')
    script(src=qhost + '/javascripts/tesseract.js')
    include doc.js.pug
    script(src='/js/views/doc.js')



