extends layout

block content
    div.row
        div.col.s8
            -var n = 0
            while n++ < data.previews
                div.row
                    div#pageheadercol.col.s11.blue.white-text.valign-wrapper
                        h5
                            a.white-text.anchor(name='page' + n)= 'Seite ' + n
                    div#editcol.col.s1
                        div.valign-wrapper(style='height:100%')
                            -var offset = '3'
                            if(n > 1)
                                -offset = '-9'
                            else
                            div.right-align(style='position: relative; height: 75px;')
                                div.fixed-action-btn.horizontal(style='position: absolute; display: inline-block; right: 24px; top:' + offset + 'px; z-index: -0')
                                    a.btn-floating.btn-large.blue.waves-effect.waves-light.lighten-1
                                        i.material-icons.medium edit
                                    ul
                                        li
                                            a.deletepreview.btn-floating.tooltipped(id='delpage_' + n, data-position='bottom' data-delay='50' data-tooltip='Diese Seite löschen. Das ursprüngliche PDF bleibt unverändert, es wird nur das Vorschaubild gelöscht.')
                                                i.material-icons.medium.red.white-text delete_forever
                                        li.divider
                                        li
                                            a.btn-floating.tooltipped(href='/doc/' + data._id + '/edit/rotate/?preview=' + n + '&degrees=-90&#page' + n, data-position='bottom' data-delay='50' data-tooltip='90° nach links drehen')
                                                i.material-icons.medium.white.blue-text rotate_left
                                        li
                                            a.btn-floating.tooltipped(href='/doc/' + data._id + '/edit/rotate/?preview=' + n + '&degrees=180&#page' + n, data-position='bottom' data-delay='50' data-tooltip='180° drehen')
                                                i.material-icons.medium.white.blue-text refresh
                                        li
                                            a.btn-floating.tooltipped(href='/doc/' + data._id + '/edit/rotate/?preview=' + n + '&degrees=90&#page' + n, data-position='bottom' data-delay='50' data-tooltip='90° nach rechts drehen')
                                                i.material-icons.medium.white.blue-text rotate_right
                                        li.divider
                                        li
                                            if( n === 1)
                                                a.btn-floating.tooltipped(data-position='bottom' data-delay='50' data-tooltip='Seite nach oben verschieben(diese Seite ist die erste Seite)', style='cursor: default;')
                                                    i.grey-text.material-icons.white.medium arrow_upward
                                            else
                                                a.btn-floating.tooltipped(href='/doc/' + data._id + '/move/up/?page=' + n + '#page' + n, data-position='bottom' data-delay='50' data-tooltip='Seite nach oben verschieben')
                                                    i.material-icons.medium.white.blue-text arrow_upward
                                        li
                                            if(n < data.previews)
                                                a.btn-floating.tooltipped(href='/doc/' + data._id + '/move/down/?page=' + n + '#page' + n, data-position='bottom' data-delay='50' data-tooltip='Seite nach unten verschieben')
                                                    i.material-icons.medium.white.blue-text arrow_downward
                                            else
                                                a.btn-floating.tooltipped(data-position='bottom' data-delay='50' data-tooltip='Seite nach unten verschieben (diese Seite ist die letzte Seite)', style='cursor: default;')
                                                    i.grey-text.material-icons.medium.white.blue-text arrow_downward
                div.row
                    div.col.s12
                        div.previewcontainer(style='min-height: 600px;')
                            img.preview(src='/images/loading.gif', data-src='/doc/' + data._id + '/preview/' + n)
        div.col.s4
            form(method='POST' action='/doc/' + data._id + '/update/true' autocomplete="off")
                input#hidden_tags(type='hidden' name='tags')
                div.form-group
                    label(for='subject') Betreff:
                    input#subject.form-control(type='text', placeholder='Betreff' name='subject' value=data.subject)
                div.form-group
                    label(for='docdate') Datum:
                    if(data.founddate)
                        input#docdate.form-control.datepicker.red-text(type='text', placeholder='Datum' name='docdate' value=(moment(data.docdate, 'DD.MM.YYYY').format("DD.MM.YYYY")))
                    else if (data.docdate)
                        input#docdate.form-control.datepicker(type='text', placeholder='Datum' name='docdate' value=(moment(data.docdate, 'DD.MM.YYYY').format("DD.MM.YYYY")))
                    else
                        input#docdate.form-control.datepicker(type='text', placeholder='Datum' name='docdate' value='')
                div.form-group
                    label(for='users') Besitzer:
                    br
                    each user in session.userlist
                        if(data.users.indexOf(user.name) > -1)
                            input(type='checkbox' id='user_' + user.name name='users' value=user.name checked='checked')
                        else
                            input(type='checkbox' id='user_' + user.name name='users' value=user.name)
                        label(for='user_' + user.name)= user.name
                        br
                        br
                div.form-group
                    -var partnerval = '';
                    if(data.partner)
                        -partnerval = data.partner
                    label(for='partner') Partner:
                    if(data.foundpartner)
                        input#partner.autocomplete.red-text(name='partner' value=partnerval)
                    else
                        input#partner.autocomplete(name='partner' value=partnerval)

                div.row &nbsp;
                div.row
                    div.col.s11
                        div#taginputparent.chips.chips-autocomplete
                    div.right-align.col.s1
                            i#tagstooltip.tooltipped.material-icons(style='cursor: help;', data-position='left', data-delay='50', data-tooltip='Lade...', data-html='true') help_outline
                div.row
                    div.col.s12.xl6
                        button.btn.blue.z-depth-5(type='submit') Aktualisieren
                    div.col.s12.xl3
                        a.waves-effect.waves-light.btn.modal-trigger.blue.z-depth-5(href='/doc/') Zurück
                    div.col.s12.xl2
                        a.waves-effect.waves-light.btn.modal-trigger.red.z-depth-5(href="#modaldelete") Löschen
            textarea.doctext= data.plaintext
    div#modaldelete.modal
        div.modal-content
            div.row
                div.col.s6.center
                    p.flow-text.blue.white-text Zurücksetzen
                div.col.s6.center
                    p.red.flow-text.white-text Löschen
            div.row
                div.col.s6.center
                    p.flow-text= 'Die Metadaten (Betreff, Partner, etc) werden unwiderruflich gelöscht und das PDF-Dokument in den "Neu" Ordner verschoben'
                div.col.s6.center
                    p.flow-text= 'Die Metadaten (Betreff, Partner, etc) und '
                        span.red-text= 'das Dokument'
                        =' werden unwiderruflich gelöscht.'
            div.row
                div.col.s12.center.red
                    p.flow-text Keine weitere Sicherheitsabfrage!
            div.row
                div.col.s6.center
                    a.waves-effect.waves-light.btn.modal-trigger.blue.z-depth-5(href='/remove/' + data._id + '/soft/') Zurücksetzen
                div.col.s6.center
                    a.waves-effect.waves-light.btn.modal-trigger.red.z-depth-5(href='/remove/' + data._id + '/hard/') Löschen
            div.row
                div.col.s12.center
                    a#canceldelete.waves-effect.waves-light.btn.modal-trigger.blue.z-depth-5(href='#') Abbrechen

    script(src='/javascripts/unveil.js')
    script.
        //Initialize Datepicker
        $(document).ready(function () {
            $('.datepicker').pickadate({
                onStart: function() {
                    year = moment($('#docdate').val(), 'DD.MM.YYYY').format("YYYY");
                    month = moment($('#docdate').val(), 'DD.MM.YYYY').format("MM");
                    day = moment($('#docdate').val(), 'DD.MM.YYYY').format("DD");
                    this.set(year, month, day);
                },
                onOpen: function() {
                    $('#docdate').removeClass('red-text')
                },
                format: 'dd.mm.yyyy',
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15, // Creates a dropdown of 15 years to control year,
                today: 'Heute',
                clear: 'L&ouml;schen',
                close: 'Ok',
                closeOnSelect: false, // Close upon selecting a date,
                monthsFull: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
                monthsShort: ['Jan', 'Feb', 'Mär', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez'],
                weekdaysShort: ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'],
                firstDay: 1,
                min: false,
                max: 365
            });
        });
        //Initialize Select
        $(document).ready(function () {
            $('select').material_select();
        });
        //Initialize Partner Autocomplete
        $(document).ready(function () {

            var partnerlist = !{JSON.stringify(session.partnerlist).replace(/<\//g, '<\\/')}
            var plist = {};
            for (index = 0; index < partnerlist.length; ++index) {
                plist[partnerlist[index].name] = partnerlist[index].logo;
            }

            $('#partner').autocomplete({
                data: plist,
                limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
                onAutocomplete: function (val) {
                    // Callback function when value is autcompleted.
                },
                minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
            });

            $('#partner').on('click', function () {
                $(this).val('')
                $(this).removeClass('red-text');
            });

        });

        //Initialize modal delete dialogue
        $(document).ready(function () {
            // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
            $('#modaldelete').modal();
            $('#canceldelete').on('click', function () {
                $('#modaldelete').modal('close');
            });

        });
        //Fix page header column height
        $(document).ready(function () {
            $('#editcol').css({
                height: +$('#pageheadercol').height()
            })
        });

        //delete preview "are you sure"
        $(document).ready(function() {
            var docdata = !{JSON.stringify(data).replace(/<\//g, '<\\/')}

            $('.deletepreview').on('click', function() {
                var page = this.id.split("_").pop();
                Materialize.Toast.removeAll();
                var $toastContent = $('<i class="material-icons medium white-text">delete_forever</i>')
                    .add($('<a href="/doc/' + docdata._id + '/delete/' + page + '?previews=' + docdata.previews + '" class="btn-flat toast-action">Sicher?</button>'));
                Materialize.toast($toastContent, 10000, 'rounded');
            });
        });

        //tag chips
        $(document).ready(function() {

            let docdata = !{JSON.stringify(data).replace(/<\//g, '<\\/')}
            let taglist = !{JSON.stringify(session.taglist).replace(/<\//g, '<\\/')}

            taglist = taglist.sort(function (a, b) {
                return a._id > b._id ? 1 : b._id > a._id ? -1 : 0
            });

            let seltags = [];
            if(docdata.tags) {
                docdata.tags.forEach(function(tag) {
                    seltags.push({tag: tag});
                })
            }
            let tags = {};
            let tagtooltip = "";
            if(taglist) {
                taglist.forEach(function(tag) {
                    tags[tag._id] = null;
                    tagtooltip += tag._id + ', ';
                })
            }

            $('#tagstooltip').attr('data-tooltip','<div class="flow-text">' + tagtooltip + '</div>');

            console.log(seltags);
            $('#hidden_tags').val(JSON.stringify(seltags)); //store array

            $('.chips').material_chip();
            $('.chips-autocomplete').material_chip({
                placeholder: 'Tags eingeben',
                secondaryPlaceholder: 'Mehr Tags',
                autocompleteOptions: {
                    data: tags,
                    limit: Infinity,
                    minLength: 1
                },
                data: seltags
            });

            $('.chips').on('chip.add', function (e, chip) {
                $('#hidden_tags').val(JSON.stringify($('.chips-autocomplete').material_chip('data')));
            });

            $('.chips').on('chip.delete', function (e, chip) {
                $('#hidden_tags').val(JSON.stringify($('.chips-autocomplete').material_chip('data')));
            });
        });

        $(document).ready(function () {
            $('#tagstooltip').tooltip({delay: 50});
        });

        $(document).ready(function () {
            $('img').unveil();
            setTimeout(function(){
                $('.previewcontainer').css('min-height', '0px');
            }, 600);
        });
