extends layout

block content
    div.row
        div.col.s8
            -var n = 0
            while n++ < docdata.previews
                div.row
                    div.col.s6.blue.white-text
                        h5
                            a.white-text.anchor(name='page' + n)= 'Seite ' + n
                    div.col.s6
                        a(href='/doc/' + docdata._id + '/edit/rotate/?preview=' + n + '&degrees=-90&#page' + n)
                            i.material-icons.medium rotate_left
                        a(href='/doc/' + docdata._id + '/edit/rotate/?preview=' + n + '&degrees=180&#page' + n)
                            i.material-icons.medium refresh
                        a(href='/doc/' + docdata._id + '/edit/rotate/?preview=' + n + '&degrees=90&#page' + n)
                            i.material-icons.medium rotate_right
                        if( n === 1)
                            i.grey-text.material-icons.medium arrow_upward
                        else
                            a(href='/doc/' + docdata._id + '/move/up/?page=' + n + '#page' + n)
                                i.material-icons.medium arrow_upward
                        if(n < docdata.previews)
                            a(href='/doc/' + docdata._id + '/move/down/?page=' + n + '#page' + n)
                                i.material-icons.medium arrow_downward
                        else
                            i.grey-text.material-icons.medium arrow_downward


                div.row
                    div.col.s12
                        img.preview(src='/doc/' + docdata._id + '/preview/' + n)
        div.col.s4
            form(method='POST' action='/doc/' + docdata._id + '/update/true' autocomplete="off")
                div.form-group
                    label(for='subject') Betreff:
                    input#subject.form-control(type='text', placeholder='Betreff' name='subject' value=docdata.subject)
                div.form-group
                    label(for='docdate') Datum:
                    if(docdata.founddate)
                        input#docdate.form-control.datepicker.red-text(type='text', placeholder='Datum' name='docdate' value=(moment(docdata.docdate, 'DD.MM.YYYY').format("DD.MM.YYYY")))
                    else
                        input#docdate.form-control.datepicker(type='text', placeholder='Datum' name='docdate' value='')
                div.form-group
                    label(for='users') Besitzer:
                    br
                    each user in users
                        if(docdata.users.indexOf(user.name) > -1)
                            input(type='checkbox' id='user_' + user.name name='users' value=user.name checked='checked')
                        else
                            input(type='checkbox' id='user_' + user.name name='users' value=user.name)
                        label(for='user_' + user.name)= user.name
                        br
                        br
                div.form-group
                    -var partnerval = '';
                    if(docdata.partner)
                        -partnerval = docdata.partner
                    label(for='partner') Partner:
                    if(docdata.foundpartner)
                        input#partner.autocomplete.red-text(name='partner' value=partnerval)
                    else
                        input#partner.autocomplete(name='partner' value=partnerval)

                div.row &nbsp;
                div.row
                    div.col.s12.xl6
                        button.btn.blue.z-depth-5(type='submit') Aktualisieren
                    div.col.s12.xl3
                        a.waves-effect.waves-light.btn.modal-trigger.blue.z-depth-5(href='/doc/') Zurück
                    div.col.s12.xl2
                        a.waves-effect.waves-light.btn.modal-trigger.red.z-depth-5(href="#modaldelete") Löschen
            textarea.doctext= docdata.plaintext
    div#modaldelete.modal
        div.modal-content
            div.row
                div.col.s6.center
                    p.flow-text.blue.white-text Zurücksetzen
                div.col.s6.center
                    p.red.flow-text.white-text Löschen
            div.row
                div.col.s6.center
                    p.flow-text= 'Die Metadaten (Betreff, Partner, etc) werden unwiderruflich gelöscht und das PDF-Dokument in den "Neu" Ordner verschoben'
                div.col.s6.center
                    p.flow-text= 'Die Metadaten (Betreff, Partner, etc) und '
                        span.red-text= 'das Dokument'
                        =' werden unwiderruflich gelöscht.'
            div.row
                div.col.s12.center.red
                    p.flow-text Keine weitere Sicherheitsabfrage!
            div.row
                div.col.s6.center
                    a.waves-effect.waves-light.btn.modal-trigger.blue.z-depth-5(href='/remove/' + docdata._id + '/soft/') Zurücksetzen
                div.col.s6.center
                    a.waves-effect.waves-light.btn.modal-trigger.red.z-depth-5(href='/remove/' + docdata._id + '/hard/') Löschen
            div.row
                div.col.s12.center
                    a#canceldelete.waves-effect.waves-light.btn.modal-trigger.blue.z-depth-5(href='#') Abbrechen


    script.
        //Initialize Datepicker
        $(document).ready(function () {
            $('.datepicker').pickadate({
                onStart: function() {
                    year = moment($('#docdate').val(), 'DD.MM.YYYY').format("YYYY");
                    month = moment($('#docdate').val(), 'DD.MM.YYYY').format("MM");
                    day = moment($('#docdate').val(), 'DD.MM.YYYY').format("DD");
                    this.set(year, month, day);
                },
                onOpen: function() {
                    $('#docdate').removeClass('red-text')
                },
                format: 'dd.mm.yyyy',
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15, // Creates a dropdown of 15 years to control year,
                today: 'Heute',
                clear: 'L&ouml;schen',
                close: 'Ok',
                closeOnSelect: false, // Close upon selecting a date,
                monthsFull: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
                monthsShort: ['Jan', 'Feb', 'Mär', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez'],
                weekdaysShort: ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'],
                firstDay: 1,
                min: false,
                max: 365
            });
        });
        //Initialize Select
        $(document).ready(function () {
            $('select').material_select();
        });
        //Initialize Partner Autocomplete
        $(document).ready(function () {

            var docdata = !{JSON.stringify(docdata).replace(/<\//g, '<\\/')}
            var partnerlist = {};
            for (index = 0; index < docdata.partnerlist.length; ++index) {
                partnerlist[docdata.partnerlist[index].name] = docdata.partnerlist[index].logo;
            }
            console.log(partnerlist);

            $('#partner').autocomplete({
                data: partnerlist,
                limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
                onAutocomplete: function (val) {
                    // Callback function when value is autcompleted.
                },
                minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
            });

            $('#partner').on('click', function () {
                $(this).val('')
                $(this).removeClass('red-text');
            });

        });

        //Initialize modal delete dialogue
        $(document).ready(function () {
            // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
            $('#modaldelete').modal();
            $('#canceldelete').on('click', function () {
                $('#modaldelete').modal('close');
            });

        });


