extends layout

block content
    table.striped
        tbody
            th(width='20%') Dokument
            th(width='5%') Fertig
            th(width='7%') Seiten
            th(width='12%') Datum&nbsp;
                if(session.plain.docdatefrom || session.plain.docdateto)
                    a(href='/doc/?deldocdate=1')
                        i.tooltipped.material-icons.tiny.grey-text(data-position='right', data-delay='5', data-tooltip=session.plain.docdatefrom + ' - ' + session.plain.docdateto, data-html='true') filter_list
                else if(session.plain.orphan === 'docdate')
                    i.tooltipped.material-icons.tiny.red-text(data-position='right', data-delay='5', data-tooltip='Waisensuche aktiv', data-html='true') warning
            th(width='16%') Partner&nbsp;
                if(session.plain.partner)
                    a(href='/doc/?delpartner=1')
                        i.tooltipped.material-icons.tiny.grey-text(data-position='right', data-delay='5', data-tooltip=session.plain.partner, data-html='true') filter_list
                else if(session.plain.orphan === 'partner')
                    i.tooltipped.material-icons.tiny.red-text(data-position='right', data-delay='5', data-tooltip='Waisensuche aktiv', data-html='true') warning
            th(width='10%') Besitzer&nbsp;
                if(session.plain.users)
                    a(href='/doc/?delusers=1')
                        i.tooltipped.material-icons.tiny.grey-text(data-position='right', data-delay='5', data-tooltip=session.plain.users, data-html='true') filter_list
                else if(session.plain.orphan === 'users')
                    i.tooltipped.material-icons.tiny.red-text(data-position='right', data-delay='5', data-tooltip='Waisensuche aktiv', data-html='true') warning
            th(width='25%') Tags&nbsp;
                if(session.plain.tags)
                    a(href='/doc/?deltags=1')
                        i.tooltipped.material-icons.tiny.grey-text(data-position='right', data-delay='5', data-tooltip=session.plain.tags, data-html='true') filter_list
                else if(session.plain.orphan === 'tags')
                    i.tooltipped.material-icons.tiny.red-text(data-position='right', data-delay='5', data-tooltip='Waisensuche aktiv', data-html='true') warning
            th(width='5%') Vorschau
            if(data)
                each item in data
                    tr
                        td.ppgrid
                            -var linktitle = '';
                            if(item.subject)
                                -linktitle = item.subject;
                            else
                                -linktitle = item._id;
                            a.overview(href="/doc/" + item._id + '/update/')= linktitle
                        td.ppgrind
                            if(item.previews === item.plaintext.length)
                                i.material-icons check_circle
                            else
                                i.material-icons cancel
                        td.ppgrind= item.previews
                        td.ppgrid
                            if(item.docdate)
                                span= moment.utc(item.docdate).format('DD.MM.YYYY')
                            else
                                ='-'
                        td.ppgrid
                            if(item.partner)
                                a(href='/doc/?partner=' + item.partner)= item.partner
                            else
                                ='-'
                        td.ppgrid
                            if(item.users && item.users[0])
                                each user in item.users.sort()
                                    a(href='/doc/?users=' + user)= user
                                    =' '
                            else
                                ='-'
                        td.ppgrid
                            if(item.tags && item.tags[0])
                                each tag in item.tags.sort()
                                    a(href='/doc/?tags=' + tag)= tag
                                    =' '
                            else
                                ='-'
                        td.ppgrid
                            a.hoverover(id=item._id, style='cursor: zoom-in;')
                                i.material-icons.small attach_file

        div#hoverimage.popup(style='display:none;')= ' '
        script.
            $(document).ready(function(){
                $('.hoverover').on('mouseenter', function(evt){
                    let src = this;
                    let left = $(window).width() / 3.;
                    console.log(left);
                    console.log($(window).width());

                    $('#hoverimage')
                        .html('<img style="position:fixed; top:10" height="' + ($(window).height() * 0.85) + '" src="/doc/' + src.id + '/preview/" />')
                        .css({left: left, top: 100})
                        .show();
                        $(this).on('mouseleave', function(){
                            $('#hoverimage').hide();
                    });
                });
            });
