doctype html
html
    head
        title= 'Papierkorb :: ' + title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/basic.min.css')
        link(rel='stylesheet', href='/stylesheets/dropzone.min.css')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
        link(rel='stylesheet', type='text/css', href='/materialize/css/materialize.css')
        script(src='/javascripts/jquery-3.2.1.min.js')
        script(src='/javascripts/moment.min.js')
        script(src='/materialize/js/materialize.min.js')
        script(src='/javascripts/init.js')
    body
        header
            ul#dropdownuser.dropdown-content
                each user in session.userlist
                    li
                        a.blue-text(href='/doc/?users=' + user._id)= user.name
            ul#dropdownorphan.dropdown-content
                li
                    a.blue-text(href='/doc/?orphan=docdate') Datum
                        i.material-icons.left date_range
                li
                    a.blue-text(href='/doc/?orphan=partner') Partner
                        i.material-icons.left store_mall_directory
                li
                    a.blue-text(href='/doc/?orphan=users') Besitzer
                        i.material-icons.left account_circle
                li
                    a.blue-text(href='/doc/?orphan=tags') Tags
                        i.material-icons.left label
            div#navbar.navbar-fixed
                nav.blue
                    div.nav-wrapper
                        a.brand-logo(href='/')
                            div.valign-wrapper &nbsp;
                                img(src='/images/icon-inv-48x48.png')
                                span &nbsp;
                                    = title
                        ul.right.hide-on-med-and-down
                            li
                                form#navform(method='POST' action='/doc/')
                                    input#navsearch(name='navsearch', style='margin-left:200px;width:100px')
                            li
                                a#navbutton(href='#')
                                    i.material-icons(style='cursor:pointer;') search
                            li(class=active_user)
                                a.dropdown-button(href='#!' data-activates="dropdownuser" data-beloworigin="true")
                                    ='Benutzer'
                                    i.material-icons.right arrow_drop_down
                                    i.material-icons.left account_circle
                            li(class=active_alldocs)
                                a(href='/doc/?delusers=1&delpartner=1&deltags=1') Alle
                                    i.material-icons.left view_list
                            li(class=active_new)
                                a(href='/new/') Neu
                                    i.material-icons.left add_circle
                            li(class=active_orphan)
                                a.dropdown-button(href='#!' data-activates="dropdownorphan" data-beloworigin="true")
                                    ='Waisen'
                                    i.material-icons.right arrow_drop_down
                                    i.material-icons.left warning
                                //a(href='/doc/?orphan=users') Waisen
                                    i.material-icons.left warning
            br
        main
            div.container.customcontainer
                block content
                br
                br
            div#modalsearch.modal
                include layout.modalsearch.pug
        footer.footer.page-footer.blue
            div.valign-wrapper.right
                if(data._id)
                    -var n = 0
                    while n++ < data.previews
                        a.white-text(href='#page' + n style='font-size: 24px')= n
                        span &nbsp;
                    a(href='/doc/')
                        i.material-icons.right.white-text arrow_back
                a#button(href='#')
                    i.material-icons.right.white-text arrow_upward
        include layout.js.pug
        script(src='/js/views/layout.js')
