doctype html
html
    head
        title= 'Papierkorb :: ' + title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
        link(rel='stylesheet', type='text/css', href='/materialize/css/materialize.css')
        script(src='/javascripts/jquery-3.2.1.min.js')
        script(src='/javascripts/moment.min.js')
        script(src='/materialize/js/materialize.min.js')
        script(src='/javascripts/init.js')
    body
        header
            ul#dropdownuser.dropdown-content
                each user in session.userlist
                    li
                        a.blue-text(href='/doc/?users=' + user._id)= user.name
            ul#dropdownorphan.dropdown-content
                li
                    a.blue-text(href='/doc/?orphan=docdate') Datum
                        i.material-icons.left date_range
                li
                    a.blue-text(href='/doc/?orphan=partner') Partner
                        i.material-icons.left store_mall_directory
                li
                    a.blue-text(href='/doc/?orphan=users') Besitzer
                        i.material-icons.left account_circle
                li
                    a.blue-text(href='/doc/?orphan=tags') Tags
                        i.material-icons.left label
            div#navbar.navbar-fixed
                nav.blue
                    div.nav-wrapper
                        a.brand-logo(href='/')
                            div.valign-wrapper &nbsp;
                                img(src='/images/icon-inv-48x48.png')
                                span &nbsp;
                                    = title
                        ul.right.hide-on-med-and-down
                            li
                                form#navform(method='POST' action='/doc/')
                                    input#navsearch(name='navsearch', style='margin-left:200px;width:100px')
                            li
                                a#navbutton(href='#')
                                    i.material-icons(style='cursor:pointer;') search
                            li(class=active_user)
                                a.dropdown-button(href='#!' data-activates="dropdownuser" data-beloworigin="true")
                                    ='Benutzer'
                                    i.material-icons.right arrow_drop_down
                                    i.material-icons.left account_circle
                            li(class=active_alldocs)
                                a(href='/doc/?delusers=1&delpartner=1&deltags=1') Alle
                                    i.material-icons.left view_list
                            li(class=active_new)
                                a(href='/new/') Neu
                                    i.material-icons.left add_circle
                            li(class=active_orphan)
                                a.dropdown-button(href='#!' data-activates="dropdownorphan" data-beloworigin="true")
                                    ='Waisen'
                                    i.material-icons.right arrow_drop_down
                                    i.material-icons.left warning
                                //a(href='/doc/?orphan=users') Waisen
                                    i.material-icons.left warning
            br
        main
            div.container.customcontainer
                block content
                br
                br
            div#modalsearch.modal
                div.modal-content
                    h4 Suche
                    form#modalsearchform(autocomplete="off" method='POST' action='/doc/')
                        div.row
                            div.col.s6
                                label(for='docdatesearchinputfrom') Datum von:
                            div.col.s6
                                label(for='docdatesearchinputto') Datum bis:
                        div.row
                            div.col.s6
                                input#docdatesearchinputfrom.form-control.datepicker(value=session.plain.docdatefrom, name='docdatefrom')
                            div.col.s6
                                input#docdatesearchinputto.form-control.datepicker(value=session.plain.docdateto, name='docdateto')
                        div.row
                            div.col.s10
                                label(for='partnersearchinput') Partner:
                            div.col.s2
                                div.right-align
                                    i#pstt.tooltipped.material-icons(data-position='left', data-delay='50', data-tooltip='Lade...', data-html='true') help_outline
                        div.row
                            div.col.s12
                                input#partnersearchinput.autocomplete(value=session.plain.partner, name='partner')
                        div.row
                            div.col.s10
                                label(for='tagsearchinput') Tags:
                            div.col.s2
                                div.right-align
                                    i#tstt.tooltipped.material-icons(style='cursor: help;', data-position='left', data-delay='50', data-tooltip='Lade...', data-html='true') help_outline
                        div.row
                            div.col.s12
                                input#tagsearchinput.autocomplete(value=session.plain.tags, name='tags')
                div.modal-footer
                    a#modalsearchbutton.modal-action.modal-close.waves-effect.btn.blue(href='#')
                        i.material-icons.large search
        footer.footer.page-footer.blue
            div.valign-wrapper.right
                if(data._id)
                    -var n = 0
                    while n++ < data.previews
                        a.white-text(href='#page' + n style='font-size: 24px')= n
                        span &nbsp;
                    a(href='/doc/')
                        i.material-icons.right.white-text arrow_back
                a#button(href='#')
                    i.material-icons.right.white-text arrow_upward

        script.
            $(document).ready(function () {
                $('#modalsearch').modal();
            });
            $("#button").click(function () {
                $('html, body').animate({
                    scrollTop: $("#navbar").offset().top
                }, 600);
            });
            $('#navsearch').click(function () {
                $('#navsearch').css({width:400});
            });
            $('#navbutton').click(function() {
                if($('#navsearch').val().length === 0) {
                    $('#modalsearch').modal('open');
                } else {
                    $('#navform').submit();
                }
            });

            //Initialize Partner Autocomplete
            $(document).ready(function () {
                let lpartnerlist = !{JSON.stringify(session.partnerlist).replace(/<\//g, '<\\/')}
                let plist = [];
                let tooltippartnerlist = "";

                for (index = 0; index < lpartnerlist.length; ++index) {
                    plist[lpartnerlist[index].name] = lpartnerlist[index].logo;
                    tooltippartnerlist += lpartnerlist[index].name + ", ";
                }

                $('#pstt').attr('data-tooltip','<div class="flow-text">' + tooltippartnerlist + '</div>');

                $('#partnersearchinput').autocomplete({
                    data: plist,
                    limit: 20,
                    minLength: 1
                });
            });

            $(document).ready(function () {

                let taglist = !{JSON.stringify(session.taglist).replace(/<\//g, '<\\/')}

                console.log(taglist);

                let tooltiptaglist = "";
                for (index = 0; index < taglist.length; ++index) {
                    taglist[taglist[index]._id] = null;
                    tooltiptaglist += taglist[index]._id + ", ";
                }

                $('#tstt').attr('data-tooltip','<div class="flow-text">' + tooltiptaglist + '</div>');

                $('#tagsearchinput').autocomplete({
                    data: taglist,
                    limit: 20,
                    minLength: 1
                });
            });

            $(document).ready(function () {
                $('#tstt').tooltip({delay: 50});
            });

            $(document).ready(function () {
                $('#pstt').tooltip({delay: 50});
            });

            $(document).ready(function () {
                $('#modalsearchbutton').on('click', function () {
                    $('#modalsearchform').submit();
                });
            });

            //Initialize Datepicker
            $(document).ready(function () {
                $('.datepicker').pickadate({
                    onStart: function () {
                        year = moment($('#docdate').val(), 'DD.MM.YYYY').format("YYYY");
                        month = moment($('#docdate').val(), 'DD.MM.YYYY').format("MM");
                        day = moment($('#docdate').val(), 'DD.MM.YYYY').format("DD");
                        this.set(year, month, day);
                    },
                    onOpen: function () {
                        $('#docdate').removeClass('red-text')
                    },
                    format: 'dd.mm.yyyy',
                    selectMonths: true, // Creates a dropdown to control month
                    selectYears: 15, // Creates a dropdown of 15 years to control year,
                    today: 'Heute',
                    clear: 'L&ouml;schen',
                    close: 'Ok',
                    closeOnSelect: false, // Close upon selecting a date,
                    monthsFull: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
                    monthsShort: ['Jan', 'Feb', 'Mär', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez'],
                    weekdaysShort: ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'],
                    firstDay: 1,
                    min: false,
                    max: 365
                });
            });
