doctype html
html
    head
        title= 'Papierkorb :: ' + title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/basic.min.css')
        link(rel='stylesheet', href='/stylesheets/dropzone.min.css')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
        link(rel='stylesheet', type='text/css', href='/materialize/css/materialize.css')
        script(src='/javascripts/jquery-3.2.1.min.js')
        script(src='/javascripts/moment.min.js')
        script(src='/materialize/js/materialize.min.js')
        script(src='/javascripts/init.js')
    body
        header
            //ul#dropdownuser.dropdown-content
                each user in session.userlist
                    li
                        a.blue-text(href='/doc/?users=' + user._id)= user.name
            ul#dropdownorphan.dropdown-content
                li
                    a.blue-text(href='/doc/?orphan=docdate') Datum
                        i.material-icons.left date_range
                li
                    a.blue-text(href='/doc/?orphan=partner') Partner
                        i.material-icons.left store_mall_directory
                li
                    a.blue-text(href='/doc/?orphan=users') Besitzer
                        i.material-icons.left account_circle
                li
                    a.blue-text(href='/doc/?orphan=tags') Tags
                        i.material-icons.left label
            div#navbar.navbar-fixed
                nav.blue
                    div.nav-wrapper
                        a.brand-logo(href='/doc/')
                            div.valign-wrapper &nbsp;
                                img(src='/images/icon-inv-48x48.png')
                                span &nbsp;
                                    = title
                        //a.button-collapse(href="#" data-activates="slide-out")
                            i.material-icons menu
                        ul.right
                            include layout.menu.pug
            br
            //ul#slide-out.side-nav
            //    include layout.menu.collapsed.pug
        main
            div.container.customcontainer
                block content
                br
                br
            div#modalsearch.modal
                include layout.modalsearch.pug
        footer.footer.page-footer.blue(style="height:36px")
            div.row
                div.col.s2
                    div.valign-wrapper.left
                        a.white-text(href="/")
                            i.material-icons home
                        span= ' ' + (session.users) ? session.users : 'KEIN USERFILTER'
                        span(style="opacity: 0" title='' + confenv)= ' ' + confenv
                div.col.s10
                    div.valign-wrapper.right
                        if(data._id)
                            -var n = 0
                            while n++ < data.previews
                                a.white-text(href='#page' + n style='font-size: 24px')= n
                                span &nbsp;
                            a(href='/doc/')
                                i.material-icons.right.white-text arrow_back
                        a#button(href='#')
                            i.material-icons.right.white-text arrow_upward
        include layout.js.pug
        script(src='/js/views/layout.js')
