doctype html
html
    head
        title= 'Papierkorb :: ' + title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
        link(rel='stylesheet', type='text/css', href='/materialize/css/materialize.css')
        script(src='/javascripts/jquery-3.2.1.min.js')
        script(src='/javascripts/moment.min.js')
        script(src='/materialize/js/materialize.min.js')
        script(src='/javascripts/init.js')
    body
        header
            ul#dropdownuser.dropdown-content
                each user in session.userlist
                    li
                        a.blue-text(href='/doc/?users=' + user._id)= user.name
            div#navbar.navbar-fixed
                nav.blue
                    div.nav-wrapper
                        a.brand-logo(href='/')
                            div.valign-wrapper &nbsp;
                                img(src='/images/icon-inv-48x48.png')
                                span &nbsp;
                                    = title
                        ul.right.hide-on-med-and-down
                            li
                                form#navform(method='POST' action='/doc/')
                                    input#navsearch(name='navsearch', style='margin-left:200px;width:100px')
                            li
                                a#navbutton(href='#')
                                    i.material-icons(style='cursor:pointer;') search
                            li(class=active_user)
                                a.dropdown-button(href='#!' data-activates="dropdownuser" data-beloworigin="true")
                                    ='Benutzer'
                                    i.material-icons.right arrow_drop_down
                                    i.material-icons.left account_circle
                            li(class=active_alldocs)
                                a(href='/doc/?users=.*&partner=.*&tags=.*') Alle
                                    i.material-icons.left view_list
                            li(class=active_new)
                                a(href='/new/') Neu
                                    i.material-icons.left add_circle
                            li(class=active_orphan)
                                a(href='/doc/?orphan=1/') Waisen
                                    i.material-icons.left warning
            br
        main
            div.container.customcontainer
                block content
                br
                br
            div#modalsearch.modal
                div.modal-content
                    h4 Suche
                    form#modalsearchform(autocomplete="off" method='POST' action='/doc/')
                        div.row
                            div.col.s10
                                label(for='partnersearchinput') Partner:
                            div.col.s2
                                div.right-align
                                    i#pstt.tooltipped.material-icons(style='cursor: help;', data-position='left', data-delay='50', data-tooltip='Lade...', data-html='true') help_outline
                        div.row
                            div.col.s12
                                input#partnersearchinput.autocomplete(name='partner')
                        div.row
                            div.col.s10
                                label(for='tagsearchinput') Tags:
                            div.col.s2
                                div.right-align
                                    i#tstt.tooltipped.material-icons(style='cursor: help;', data-position='left', data-delay='50', data-tooltip='Lade...', data-html='true') help_outline
                        div.row
                            div.col.s12
                                input#tagsearchinput.autocomplete(name='tags')
                div.modal-footer
                    a#modalsearchbutton.modal-action.modal-close.waves-effect.btn.blue(href='#')
                        i.material-icons.large search
        footer.footer.page-footer.blue
            div.valign-wrapper.right
                if(data._id)
                    -var n = 0
                    while n++ < data.previews
                        a.white-text(href='#page' + n style='font-size: 24px')= n
                        span &nbsp;
                    a(href='/doc/')
                        i.material-icons.right.white-text arrow_back
                a#button(href='#')
                    i.material-icons.right.white-text arrow_upward

        script.
            $(document).ready(function () {
                $('#modalsearch').modal();
            });
            $("#button").click(function () {
                $('html, body').animate({
                    scrollTop: $("#navbar").offset().top
                }, 600);
            });
            $('#navsearch').click(function () {
                $('#navsearch').css({width:400});
            });
            $('#navbutton').click(function() {
                if($('#navsearch').val().length === 0) {
                    $('#modalsearch').modal('open');
                } else {
                    $('#navform').submit();
                }
            });

            //Initialize Partner Autocomplete
            $(document).ready(function () {
                let lpartnerlist = !{JSON.stringify(session.partnerlist).replace(/<\//g, '<\\/')}
                let plist = [];
                let tooltippartnerlist = "";

                for (index = 0; index < lpartnerlist.length; ++index) {
                    plist[lpartnerlist[index].name] = lpartnerlist[index].logo;
                    tooltippartnerlist += lpartnerlist[index].name + ", ";
                }

                $('#pstt').attr('data-tooltip','<div class="flow-text">' + tooltippartnerlist + '</div>');

                $('#partnersearchinput').autocomplete({
                    data: plist,
                    limit: 20,
                    minLength: 1
                });
            });

            $(document).ready(function () {

                let taglist = !{JSON.stringify(session.taglist).replace(/<\//g, '<\\/')}

                console.log(taglist);

                let tooltiptaglist = "";
                for (index = 0; index < taglist.length; ++index) {
                    taglist[taglist[index]._id] = null;
                    tooltiptaglist += taglist[index]._id + ", ";
                }

                $('#tstt').attr('data-tooltip','<div class="flow-text">' + tooltiptaglist + '</div>');

                $('#tagsearchinput').autocomplete({
                    data: taglist,
                    limit: 20,
                    minLength: 1
                });
            });

            $(document).ready(function () {
                $('#tstt').tooltip({delay: 50});
            });

            $(document).ready(function () {
                $('#pstt').tooltip({delay: 50});
            });

            $(document).ready(function () {
                $('#modalsearchbutton').on('click', function () {
                    $('#modalsearchform').submit();
                });
            });
